:root {
  --color-1: #4059ad;
  --color-2: #219ebc;
  --color-3: #0d1321;
  --color-4: #30343f;
  --color-5: #e4dfda;
}

body {
  background-image: url('../images/background.jpg') !important;
}

.title {
  background-color: var(--color-3) !important;
  color: var(--color-5) !important;
}

.quote-cards {
  padding-top: .3%;
}

.card {
  max-height: 750px;
  background-color: var(--color-3);
  border: none !important;
}

.card-divider {
  background-color: var(--color-3) !important;
  color: var(--color-5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px !important;
}

.quoteBox {
  height: 190px;
  background-color: var(--color-4);
  display: flex;
  padding: 5px;
  color: var(--color-5);
  justify-content: center;
  align-items: center;
}

.vote-button {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gifBox {
  width: 100%;
  height: 245px;
  object-fit: contain;
  align-content: center;
  background-color: var(--color-4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.scorecard {
  height: 150px;
  background-color: var(--color-4) !important;
  color: var(--color-5) !important;
}

.score-display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.button-class {
  padding: 35px;
  width: 100%;
}

.button {
  background-color: var(--color-1) !important;
  border-radius: 12px !important;
  color: var(--color-3) !important;
}

.button:hover {
  background-color: var(--color-3) !important;
  color: var(--color-5) !important;
}

.vote-button {
  height: 50px;
  background-color: var(--color-4);
  align-content: center;
}

.hidden {
  display: none !important;
}